<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no  user-scalable=0">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" type="text/css">
<link rel="shortcut icon" th:href="@{/favicon.ico}" />
<script type="text/javascript" th:src="@{/js/jquery-3.4.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{/js/base.js}"></script>
<script type="text/javascript" th:src="@{/js/main.js}"></script>
<title>BATH CENTER</title>
</head>
<body>
	<nav style="background-color: #e3f2fd;" class="navbar navbar-expand-lg navbar-light align-middle">
		<h2>BATH CENTER</h2>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent" style="padding-top:15px;padding-left:50px !important;">
			<ul class="nav nav-pills mb-3" id="pills-tab" role="tablist" style="margin-left:50">
			  <li class="nav-item">
			    <a class="nav-link active" data-toggle="pill" th:href="@{/customer/list}" role="tab">客户列表</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="pill" th:href="@{/user/list}" role="tab">用户管理</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="pill" th:href="@{/code/list}" role="tab">代码管理</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" data-toggle="pill" th:href="@{/statistics}" role="tab">数据统计</a>
			  </li>
			</ul>
		</div>
	</nav>
	<iframe id="mainFrame" src="/GBathCenter/customer/list" frameborder="0" width="100%" height="590"></iframe>
</body>
</html>