<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.g.bathcenter.mapper.ExpenseMapper">
	<insert id="insert">
		insert into t_expense 
		(customerid,customerphonenumber,customername,expense,reguserid,regusername,regdt,expenseTypeIds,expenseTypeNames)
		values(#{customerId}, #{customerPhoneNumber}, #{customerName}, #{expense}, #{regUserId}, #{regUsername}, now()+0,#{expenseTypeIds},#{expenseTypeNames})
	</insert>
	<select id="find" resultType="com.g.bathcenter.bean.Expense">
		select 	id, customerid, customerphonenumber, customername, expense, 
		expenseTypeIds, expenseTypeNames, remark, reguserid, regusername, regdt ,expenseTypeNames
		from t_expense 
		where customerid = #{customerId} order by regdt desc
	</select>
</mapper>