<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no  user-scalable=0">
<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"
	type="text/css">
<link rel="shortcut icon" th:href="@{/favicon.ico}" />
<script type="text/javascript" th:src="@{/js/base.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery-3.4.0.min.js}"></script>
<script type="text/javascript" th:src="@{/js/bootstrap.bundle.js}"></script>
<script type="text/javascript" th:src="@{/js/code/list.js}"></script>
<title>BATH CENTER</title>
</head>
<body>
	<div class="container-fluid">
		<div class="row">
			<div class="accordion" id="codeAccordion" style='width: 100%'></div>
		</div>
		<div class="row"></div>
	</div>


	<div id="addCodeSetModal" class="modal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title">新代码</h5>
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
				</div>
				<div class="modal-body">
					<form id="newCodeForm">
						<input type="hidden" id="codeId">
						<div class="form-group">
							<label for="name">名称</label> 
							<input type="text" class="form-control" id="name" aria-describedby="emailHelp" placeholder="代码名称">
						</div>
						<div class="form-group">
							<label for="value">值</label> 
							<input type="text" class="form-control" id="value" placeholder="代码值">
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button id="hideHistoryBtn" type="button" data-dismiss="modal" class="btn btn-secondary">关闭</button>
					<button id="saveCodeSet" type="button" class="btn btn-primary">保存</button>
				</div>
			</div>
		</div>
	</div>
</body>
</html>